<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="description" content="This website does something."> <!-- TODO a description here -->
            <meta name="keywords" content="HTML,CSS,JavaScript"> <!-- TODO add keywords about this app -->
            <meta name="author" content="You"> <!-- TODO Add personal or company name -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!-- TODO Update to the name of your project -->
        <title>{% block title %}Flask Template{% endblock %}</title>

        {# Use the following syle if you download bootstrap and its components locally. #}
        {#<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        {% block css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <header>
        {% block nav %}
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="{{ url_for('index') }}">App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% block nav_items %}
                            <!-- TODO Update with navigation to your new pages -->
                            <li class="nav-item {% if request.url_rule.endpoint == "hello.hello" %}active{% endif %}">
                                <a class="nav-link" href="{{ url_for('hello.hello') }}">Hello</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://google.com">Google</a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block content %}
                <!-- TODO Update main page with certain default information -->
                <h1 class="mt-5">Welcome to the Main Page</h1>
                <p class="lead">Fill in this template application as you would like, for your new app.</p>
            {% endblock %}
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        {% block footer %}
            <div class="container">
                <!-- TODO Specify the copyright -->
                <span class="text-muted">&copy; Copyright 2020 by <a href="http://localhost">You</a>.</span>
            </div>
        {% endblock %}
    </footer>
    {% block bootstrap_scripts %}
        <!-- TODO Decide whether to use local packages vs packages from the internet. Larger project size vs no offline
                capabilities -->
        {# Use the following scripts if you download bootstrap and its components locally. #}
        {#        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>#}
        {#        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
        {#        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>#}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    {% endblock %}
    {% block scripts %}
    {% endblock %}

</body>
</html>
